public/breakfast.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Breakfast</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <link rel="icon" href="favicon-16x16.png" type="image/x-icon" sizes="16x16">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&amp;family=Montserrat:wght@400;500;700&amp;family=Nunito+Sans:wght@400;600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="styles/fontawesome.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body class="breakfast-page">
    <div class="wrapper">
      <header class="header">
        <div class="container">
          <div class="header-top"><a class="header-logo" href="/"><img src="./images/logo.png" alt=""></a><i class="fa fa-bars header-icon-toggle"></i>
            <ul class="header-menu">
              <li class="header-menu-item active"><a class="header-menu-link" href="/">Home</a></li>
              <li class="header-menu-item"><a class="header-menu-link" href="/about.html">About</a></li>
              <li class="header-menu-item"><a class="header-menu-link" href="/breakfast.html">Breakfast</a></li>
              <li class="header-menu-item"><a class="header-menu-link" href="#">Process</a></li>
              <li class="header-menu-item"><a class="header-menu-link" href="#">Services</a></li>
              <li class="header-menu-item"><a class="header-menu-link" href="#">Testimonials</a></li>
              <li class="header-menu-item"><a class="header-menu-link" href="/contact.html">Contact</a></li>
            </ul>
          </div>
          <div class="header-content">
            <h2 class="header-content-title title">We Design and Develop</h2>
            <h1 class="header-content-main text">We are a new design studio based in USA. We have over  20 years We are a new design studio based in USA. We have over  20 years</h1><a class="header-contact-us" href="">Contact us</a>
          </div>
        </div>
      </header>
      <section class="breakfast"> 
        <div class="breakfast-top">
          <div class="container">
            <div class="breakfast-info">
              <h3 class="breakfast-title">Light Breakfast </h3>
              <p class="breakfast-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, nobis distinctio magni et maxime, nihil cupiditate, accusantium dignissimos labore veritatis porro tempora? Ipsum commodi corporis esse consequatur voluptate quibusdam facere.</p>
              <p class="breakfast-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, nobis distinctio magni et maxime, nihil cupiditate.</p>
              <div class="breakfast-location"> 
                <p class="breakfast-location-client"><strong>Client:</strong><span>Emma Morris</span></p>
                <p class="breakfast-location-date"><strong>Date:</strong><span>25.06.2017</span></p>
                <p class="breakfast-location-social"><strong>Share:</strong><a href="">Facebook, </a><a href="">Twitter, </a><a href="">Pinterest</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="breakfast-nav">
          <div class="container">
            <div class="breakfast-nav-prev"><i class="fas fa-chevron-left"> </i><span>Previous project</span></div>
            <div class="breakfast-nav-center"><i class="fas fa-th-large"></i></div>
            <div class="breakfast-nav-next"><span>next project</span><i class="fas fa-chevron-right"> </i></div>
          </div>
        </div>
      </section>
      <section class="footer">
        <div class="container">
          <div class="footer-first"> 
            <p class="footer-title">Piroll Design Inc</p>
            <p>&copy; 2017 Piroll. All rights reserved. </p>
            <p>Desgin by robirurk			</p>
          </div>
          <div class="footer-info"> 
            <p class="footer-email"><a href="mailto:hello@pirolltheme.com">hello@pirolltheme.com </a></p>
            <p> <a href="tel:44 123 456 999">+44 123 456 999 </a></p>
          </div>
          <div class="footer-menu"> 
            <ul class="footer-menu-list"> 
              <li class="footer-menu-item"><a class="footer-menu-link">Projects</a></li>
              <li class="footer-menu-item"><a class="footer-menu-link">About</a></li>
              <li class="footer-menu-item"><a class="footer-menu-link">Services</a></li>
              <li class="footer-menu-item"><a class="footer-menu-link">Career</a></li>
            </ul>
            <ul class="footer-menu-list"> 
              <li class="footer-menu-item"><a class="footer-menu-link">Projects</a></li>
              <li class="footer-menu-item"><a class="footer-menu-link">About</a></li>
              <li class="footer-menu-item"><a class="footer-menu-link">Services</a></li>
              <li class="footer-menu-item"><a class="footer-menu-link">Career</a></li>
            </ul>
          </div>
          <div class="footer-social">
            <ul class="footer-social-list"> 
              <li class="footer-social-item"><a class="footer-social-link">Facebook</a></li>
              <li class="footer-social-item"><a class="footer-social-link">Twitter</a></li>
              <li class="footer-social-item"><a class="footer-social-link">Services</a></li>
              <li class="footer-social-item"><a class="footer-social-link">Dribble</a></li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>

app/views/blocks/breakfast.pug
section.breakfast 
		.breakfast-top
			.container
				.breakfast-info
					h3.breakfast-title Light Breakfast 
					p.breakfast-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, nobis distinctio magni et maxime, nihil cupiditate, accusantium dignissimos labore veritatis porro tempora? Ipsum commodi corporis esse consequatur voluptate quibusdam facere.
					p.breakfast-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, nobis distinctio magni et maxime, nihil cupiditate.
					.breakfast-location 
						p.breakfast-location-client
							strong Client:
							span Emma Morris
						p.breakfast-location-date
							strong Date:
							span 25.06.2017
						p.breakfast-location-social
							strong Share:
							a(href="") Facebook, 
							a(href="") Twitter, 
							a(href="") Pinterest
		.breakfast-nav
			.container
				.breakfast-nav-prev
					i.fas.fa-chevron-left 
					span Previous project
				.breakfast-nav-center
					i.fas.fa-th-large
				.breakfast-nav-next
					span next project
					i.fas.fa-chevron-right 
