public/contact.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <link rel="icon" href="favicon-16x16.png" type="image/x-icon" sizes="16x16">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&amp;family=Montserrat:wght@400;500;700&amp;family=Nunito+Sans:wght@400;600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="styles/fontawesome.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body class="contact-page">
    <div class="wrapper">
      <header class="header">
        <div class="container">
          <div class="header-top"><a class="header-logo" href="/"><img src="./images/logo.png" alt=""></a><i class="fa fa-bars header-icon-toggle"></i>
            <ul class="header-menu">
              <li class="header-menu-item active"><a class="header-menu-link" href="/">Home</a></li>
              <li class="header-menu-item"><a class="header-menu-link" href="/about.html">About</a></li>
              <li class="header-menu-item"><a class="header-menu-link" href="/breakfast.html">Breakfast</a></li>
              <li class="header-menu-item"><a class="header-menu-link" href="#">Process</a></li>
              <li class="header-menu-item"><a class="header-menu-link" href="#">Services</a></li>
              <li class="header-menu-item"><a class="header-menu-link" href="#">Testimonials</a></li>
              <li class="header-menu-item"><a class="header-menu-link" href="/contact.html">Contact</a></li>
            </ul>
          </div>
          <div class="header-content">
            <h2 class="header-content-title title">We Design and Develop</h2>
            <h1 class="header-content-main text">We are a new design studio based in USA. We have over  20 years We are a new design studio based in USA. We have over  20 years</h1><a class="header-contact-us" href="">Contact us</a>
          </div>
        </div>
      </header>
      <section class="contact"> 
        <div class="container">
          <div class="contact-top">
            <div class="contact-info"> 
              <h3 class="contact-title">Contact Info </h3>
              <p class="contact-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, nobis distinctio magni et maxime, nihil cupiditate, accusantium dignissimos labore veritatis porro tempora? Ipsum commodi corporis esse consequatur voluptate quibusdam facere.</p>
              <div class="contact-location"> 
                <p class="contact-location-address"><strong>Address:</strong><span>10111 Santa Monica Boulevard, LA</span></p>
                <p class="contact-location-phone"><strong>Phone:</strong><span>+44 987 065 908</span></p>
                <p class="contact-location-email"><strong>Email:</strong><a href="mailto:info@Example.com"> info@Example.com</a></p>
                <p class="contact-location-fax"><strong>Fax:</strong><a href="tel:44 987 065 909"> +44 987 065 909</a></p>
              </div>
            </div>
            <div class="contact-form"> 
              <form class="contact-form-content" action=""></form>
              <div class="contact-form-input">
                <input type="text" placeholder="Your Name">
                <input type="email" placeholder="Your Email">
              </div>
              <input type="email" placeholder="Your Title">
              <textarea class="contact-form-textarea" name="" cols="30" rows="10" placeholder="Your Comment"></textarea>
              <button class="contact-form-submit">Send Message</button>
            </div>
          </div>
          <div class="contact-bot"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3456.8888446467054!2d-90.07208778540866!3d29.95387572980136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8620a5f105863cb7%3A0x3d1d86fa03c09c33!2sCanal%20St%2C%20New%20Orleans%2C%20LA%2C%20USA!5e0!3m2!1sen!2s!4v1625795501886!5m2!1sen!2s" width="100%" height="463" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
        </div>
      </section>
      <section class="footer">
        <div class="container">
          <div class="footer-first"> 
            <p class="footer-title">Piroll Design Inc</p>
            <p>&copy; 2017 Piroll. All rights reserved. </p>
            <p>Desgin by robirurk			</p>
          </div>
          <div class="footer-info"> 
            <p class="footer-email"><a href="mailto:hello@pirolltheme.com">hello@pirolltheme.com </a></p>
            <p> <a href="tel:44 123 456 999">+44 123 456 999 </a></p>
          </div>
          <div class="footer-menu"> 
            <ul class="footer-menu-list"> 
              <li class="footer-menu-item"><a class="footer-menu-link">Projects</a></li>
              <li class="footer-menu-item"><a class="footer-menu-link">About</a></li>
              <li class="footer-menu-item"><a class="footer-menu-link">Services</a></li>
              <li class="footer-menu-item"><a class="footer-menu-link">Career</a></li>
            </ul>
            <ul class="footer-menu-list"> 
              <li class="footer-menu-item"><a class="footer-menu-link">Projects</a></li>
              <li class="footer-menu-item"><a class="footer-menu-link">About</a></li>
              <li class="footer-menu-item"><a class="footer-menu-link">Services</a></li>
              <li class="footer-menu-item"><a class="footer-menu-link">Career</a></li>
            </ul>
          </div>
          <div class="footer-social">
            <ul class="footer-social-list"> 
              <li class="footer-social-item"><a class="footer-social-link">Facebook</a></li>
              <li class="footer-social-item"><a class="footer-social-link">Twitter</a></li>
              <li class="footer-social-item"><a class="footer-social-link">Services</a></li>
              <li class="footer-social-item"><a class="footer-social-link">Dribble</a></li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>

app/views/blocks/contact.pug
section.contact 
	.container
		.contact-top
			.contact-info 
				h3.contact-title Contact Info 
				p.contact-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, nobis distinctio magni et maxime, nihil cupiditate, accusantium dignissimos labore veritatis porro tempora? Ipsum commodi corporis esse consequatur voluptate quibusdam facere.
				.contact-location 
					p.contact-location-address
						strong Address:
						span 10111 Santa Monica Boulevard, LA
					p.contact-location-phone
						strong Phone:
						span +44 987 065 908
					p.contact-location-email
						strong Email:
						a(href="mailto:info@Example.com")  info@Example.com
					p.contact-location-fax
						strong Fax:
						a(href="tel:44 987 065 909")  +44 987 065 909
			.contact-form 
				form(action="").contact-form-content
				.contact-form-input
					input(type="text" placeholder="Your Name")
					input(type="email" placeholder="Your Email")
				input(type="email" placeholder="Your Title")
				textarea(name="", cols="30", rows="10" placeholder="Your Comment").contact-form-textarea
				button.contact-form-submit Send Message
		.contact-bot
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3456.8888446467054!2d-90.07208778540866!3d29.95387572980136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8620a5f105863cb7%3A0x3d1d86fa03c09c33!2sCanal%20St%2C%20New%20Orleans%2C%20LA%2C%20USA!5e0!3m2!1sen!2s!4v1625795501886!5m2!1sen!2s" width="100%" height="463" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
